/ConsoleApplication1/.vs/ConsoleApplication1/v14/*.suo
/ConsoleApplication1/*.opendb
/ConsoleApplication1/ConsoleApplication1.VC.db
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/ipch
/ConsoleApplication1/Debug
